@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  overflow-x: hidden;
}

.navigation{
  position: relative;
  z-index: 3;
}

.navbar a img{
  max-width: 200px;
}

.navbar .nav-item{
  text-transform: uppercase;
  background-color: #d9a90b;
  margin-left: 30px;
}

.navbar .nav-item a.nav-link{
  color: #082c66;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 1rem;
}


button:focus,
button:active,
button:hover,
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}



section.cover {
  position: relative;
  background: url(../img/main-image.jpg);
  background-size: cover;
  min-height: 50px;
  height: 100vh;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 0rem;
  top: 0%; bottom: 0%; 
  left: 0%; right: 0%;
  align-self: stretch;

}


.cover:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #0000009d;
}


section.cover .main .main-view{
  position: relative;
  text-align: left;
  width: 40%;
  margin-left: 20%;
  margin-right: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  z-index: 30;
}


section.cover .main-view-text h1{
  color: #fff;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 500;
}

section.cover .main-view-text a{
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d9a90b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}



.new-nav-test{
  background-color: #000;
  justify-content: center;
  margin-top: 0px;
}

.new-nav-test a.nav-link{
  border-radius: 0;
  color: #fff;
  text-align: center;
  margin: 5px;
  margin-top: 40px;
  text-decoration: none;
  padding: 5px 30px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.new-nav-test a.active,
.new-nav-test a.nav-link:hover,
.new-nav-test a.nav-link:focus,
.new-nav-test a.nav-link:active{
  border-bottom: #d9a90b 5px solid;
}

.tabs-nav .tab-content{
  padding: 0px 50px;
  color: #082c66;
}
.tabs-nav .tab-content a{
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d9a90b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}


section.tabs-nav .tab-content .text-box-parent{
  position: relative;
}


section.tabs-nav .tab-content .text-box-parent .text-box{
  position: relative;
  text-align: left;
  margin-left: 10%;
  margin-right: 0%;
  margin-top: 10%;
  margin-bottom: 10%;
  z-index: 30;
}


section.tabs-nav .tab-content .text-box h1{
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
}

section.tabs-nav .tab-content .text-box p{
  font-size: .9rem;
  font-weight: 500;
  width: 70%;
}


section.tabs-nav .tab-content .image-box img{
  margin: 0px;
  min-height: 400px;
  max-height: 350px;
  width: 50vw;
}


section.services-col{
  padding-top: 60px;
  background-color: #082c66;
  padding-bottom: 30px;
}

section.services-col .card{
  border: 0px;
  border-radius: 0px;
  margin: 0px 40px;
  padding: 0px;

}

section.services-col .card img.card-imger-top{
  height: 150px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}



section.services-col .card .card-body img{
  width: 50px;
}


section.services-col .card .card-body h5,
section.services-col .card .card-body p{
  line-height: 1rem;
}



section.services-col .card .card-body h5{
  color: #082c66;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}


section.services-col .card .card-body p{
  color: #193a70;
  font-size: 0.8rem;
  width: 70%;
}

section.services-col .card .card-body a{
  color: #082c66;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}






/*---Media Queries --*/


@media (max-width: 1024px) {
  .navbar a img{
    max-width: 150px;
  }

  .navbar .nav-item a.nav-link{
    padding: 0.8rem;
  }

  section.cover .main .main-view{
    position: relative;
    text-align: left;
    width: 50%;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 30;
  }

  section.cover .main-view-text h1{
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }

  section.cover .main-view-text a{
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }

  
.new-nav-test a.nav-link{
  margin: .6rem;
  margin-top: 1.5rem;
  text-decoration: none;
  padding: .5rem 1.5rem;
  font-size: 0.6rem;
}

.new-nav-test a.active,
.new-nav-test a.nav-link:hover,
.new-nav-test a.nav-link:focus,
.new-nav-test a.nav-link:active{
  border-bottom: #d9a90b 2px solid;
}




}

@media (max-width: 768px) {

  section.cover .main .main-view{
    width: 50%;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 20%;
    margin-bottom: 10%;
    z-index: 30;
  }

  section.cover .main-view-text h1{
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }

  section.cover .main-view-text a{
    font-size: 0.6rem;
    padding: .5rem 1rem;
  }

  .new-nav-test a.nav-link{
    margin: .6rem;
    margin-top: 1.5rem;
    text-decoration: none;
    padding: 0rem .5rem;
    font-size: 0.6rem;
  }

  section.services-col .card{
    border: 0;
    border-radius: 0;
    margin: 0 1rem;
    padding: 0;
  
  }

  section.services-col .card img.card-imger-top{
    height: 150px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  
  
  section.services-col .card .card-body img{
    width: 40px;
    margin-left: -1rem;
  }
  
  
  section.services-col .card .card-body h5,
  section.services-col .card .card-body p{
    line-height: .9rem;
  }
  
  
  
  section.services-col .card .card-body h5{
    font-size: 1rem;
  }
  
  
  section.services-col .card .card-body p{
    font-size: 0.6rem;
    width: 70%;
  }
  
  section.services-col .card .card-body a{
    font-size: .8rem;
  }




}

@media (max-width: 425px) {
  section.cover .main .main-view{
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    z-index: 30;
  }

  .tabs-nav .tab-content{
    margin: 0px;
    padding: 0px;
  }

  section.tabs-nav .tab-content .text-box-parent{
    padding: 0px;
    margin: 0 10%;
    width: 80%;
  }

  section.tabs-nav .tab-content .text-box-parent .text-box{
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
  }

  section.tabs-nav .tab-content .text-box h1{
    width: 80%;
    margin: 0 10%;
  }
  
  section.tabs-nav .tab-content .text-box p{
    width: 100%;
  }

  section.tabs-nav .tab-content .image-box{
    padding: 0px;
  }

  section.tabs-nav .tab-content .image-box img{
    margin: 0px;
    padding: 0px;
    min-height: 400px;
    max-height: 350px;
    width: 100%;
  }

.padding{
  padding: 0px;
}

section.services-col .card{
  border: 0px;
  border-radius: 0px;
  margin: 0px 10%;
  width: 60%;
  padding: 0px;

}


}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








