@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  overflow-x: hidden;
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

section.cover {
  position: relative;
  background-image: url(../img/main-image.jpg);
  background-size: cover;
  min-height: 50px;
  height: 100vh;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; 

}

section.cover .bg{
  position: absolute;
  background: #00000069;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  top: 0%; bottom: 0%;
  align-self: stretch;
}

section.cover .navbar a img{
  max-width: 200px;
}

section.cover .navbar .nav-item{
  text-transform: uppercase;
  background-color: #d9a90b;
  margin-left: 30px;
}

section.cover .navbar .nav-item a{
  color: #082c66;
  font-weight: 700;
  font-size: 12px;
  padding: 13px 10px;
}

section.cover .main .main-view{
  position: relative;
}

section.cover .main .main-view .main-view-text{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(0%, 50%);
  text-align: left;
}

section.cover .main-view-text p{
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 50px;
}

section.cover .main-view-text a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d9a90b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}

.new-nav-test{
  background-color: #000;
  justify-content: center;
  margin-top: 0px;
}

.new-nav-test a.nav-link{
  border-radius: 0;
  color: #fff;
  text-align: center;
  margin: 5px;
  margin-top: 40px;
  text-decoration: none;
  padding: 5px 30px;
  padding-top: 10px;
  text-transform: uppercase;
}


.new-nav-test a.active,
.new-nav-test a.nav-link:hover,
.new-nav-test a.nav-link:focus,
.new-nav-test a.nav-link:active{
  border-bottom: #d9a90b 5px solid;
}

.tabs-nav .tab-content{
  padding: 0px 50px;
  color: #082c66;
}

.tabs-nav .tab-content a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #d9a90b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}


section.tabs-nav .tab-content .text-box-parent{
  position: relative;
}


section.tabs-nav .tab-content .text-box-parent .text-box{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


section.tabs-nav .tab-content .text-box h1{
  font-size: 30px;
  font-weight: 600;
}

section.tabs-nav .tab-content .text-box p{
  font-size: 15px;
}

section.tabs-nav .tab-content .image-box img{
  margin: 0px;
  min-height: 400px;
  max-height: 350px;
  width: 50vw;
}

section.services-col{
  padding-top: 60px;
  background-color: #082c66;
  padding-bottom: 30px;
}

section.services-col .card{
  border: 0px;
  border-radius: 0px;
  margin: 0px 40px;
  padding: 0px;

}

section.services-col .card img.card-imger-top{
  height: 150px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

section.services-col .card .card-body img{
  width: 50px;
}


section.services-col .card .card-body h5{
  color: #082c66;
  font-size: 20px;
  font-weight: 700;
}


section.services-col .card .card-body p{
  color: #193a70;
  font-size: 12px;
  width: 70%;
}

section.services-col .card .card-body a{
  color: #082c66;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}
















































/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








